$primary: #233D12;
$secondary: #060B04;
// $container-max-widths: (
//     sm: 600px,
//     md: 800px,
//     lg: 1050px,
//     xl: 1200px,
//     xxl: 1500px
// );

@import '../node_modules/bootstrap/scss/_functions';
@import '../node_modules/bootstrap/scss/_variables';

$custom-colors: (
    lightBrown: #E2C08D
    
);

$theme-colors: map-merge( $custom-colors, $theme-colors);

@import '../node_modules/bootstrap/scss/bootstrap';