<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="../../public/main.css"> -->
    <style>
        div a{
            padding:10px;
            border-radius: 5px;
            text-decoration: none;
            color: white;
            background-color: blue;
            font-weight: bold;
        }
        .linkcontainer{
            margin-top: 20px;
            display:flex;
            justify-content: center;
        }
        p{
            margin: auto;
            text-align: center;
            color: green;
            font-size: 1.4rem;
            font-weight: bold;
        }
    </style>
    <title>Document</title>
</head>
<body>
    <div class="mx-auto p-5">
        <p class=""><%= Name %>, your was Email was successfully verified</p>
       <div class="linkcontainer">

           <a href="http://51.20.63.132/signin" class="">
                Proceed to Sign In
            </a>
       </div> 
    </div>
    <script>
        // windows.onload=function(){
        //     document.getElementsByTagName('a')[0].href=`${baseUrl/signin}`
        // }
    </script>
</body>
</html>
 